/**********************
       GENERAL
**********************/

body{
  background: #f0f8ff;
  font-family: 'Inconsolata' sans-serif;
}

/*********************
      COLORS
*********************/
#errorOutput, footer p{
  color: #000;
}

/*********************
      CONTAINER
*********************/

.container{
width: 980px;
margin: 0 auto;
overflow: hidden;
padding: 0;
background: #fff;
position: relative;
-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.17);
-moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.17);
box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.17);
}

/**********************
        HEADER
**********************/
.main_header{
  background: #2a2a2a;
  border-bottom: 1px solid #000;
  float: left;
  width: 100%;
  z-index: 100;
}
.main_header h2{
font-size: 1.5em;
color: #fff;
padding-left: 3%;
}
#letter{
font-size: 3em;
}
.logo{
height: 120px;
width: 150px;
float: left;
margin-left: 3%;
}
.wrapper h1, form{
text-align: center;
padding: 4% 10% 0 0;
}


/*************************
          FORM
*************************/

form{
  text-align: center;
  font-size: 2em;
}
p{
  color: #fff;
  font-size: 1.4em;
  margin: 0 5px 13px 0;
  line-height: 1.4;
}
input[type=search] {
  padding: 0.75%;
  font-size: 0.72em;
}
#search{
  padding: 0.65%;
  width: 40%;
}
#search:focus{
  border: 1px solid #000;
}
#submit{
  border: none;
  padding: 0.75% 3%;
  margin-top: 2%;
  background: #000;
  color: white;
  font-size: 0.75em;
}
#errorOutput{
  margin-top: 3%;
  text-align: center;
}


/**********************
       IMAGES
**********************/

#images{
  margin-top: 10%;
  border-top: 3px solid #000;
}

.gallery{
  display: inline-block;
  margin: 0 0 0 8%;
}

.gallery img{
  width: 100px;
  height: 100px;
  border: 2px solid #000;
}
 
 /***********************
    LIST IMAGES
 ***********************/

ul li{
  margin: 60px;
  display: inline-block;
}

#wrapper {
  margin-left: 3%;
  width: 300px;
}

.image{
  margin-left: 20%;
  padding: 10%;
  display: inline-block;
  width: auto;
  height: 250px;
}

.name, .id, .price, .stock, .retailer{
  padding-top: 2%;
  margin-left: 30%;
  text-align: left;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}


/********************
      FOOTER
********************/

footer p{
  font-size: 1em;
  text-align: center;
  clear: both;
  padding-top: 15%;
}